.checkbox-expandable{
  display: flex;
  flex-direction: column;
  max-width: 266px;
  width: 100% ;
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    color: $default-color;
    margin: 0 0 17px 0;
    position: relative;
    &::before{
      content: '';
      cursor: pointer;
      position: absolute;
      width: 8px;
      height: 8px;
      border-top: 2px solid $default-color50;
      border-right: 2px solid $default-color50;
      transform: rotate(135deg);
      right: 19px;
      top: 5px;
    }
  }
}