include ../../blocks/desktop/base-input/base-input.pug
include ../../blocks/desktop/base-input/_type/_type_dropdown.pug
include ../../blocks/desktop/base-input/_type/_type_subscription.pug
include ../../blocks/desktop/checkbox-list/checkbox-list.pug
include ../../blocks/desktop/checkbox-list/_type/_type_rich.pug
include ../../blocks/desktop/checkbox/checkbox.pug
include ../../blocks/desktop/checkbox/_type/_type_rich.pug
include ../../blocks/desktop/radio/radio.pug
include ../../blocks/desktop/toggle/toggle.pug
include ../../blocks/desktop/like/like.pug
include ../../blocks/desktop/rate/rate.pug
include ../../blocks/desktop/range/range.pug
include ../../blocks/desktop/button/button.pug
include ../../blocks/desktop/button/_with-arrow/_with-arrow.pug
include ../../blocks/desktop/pagination/pagination.pug
include ../../blocks/desktop/dropdown/dropdown.pug
include ../../blocks/desktop/checkbox-expandable/checkbox-expandable.pug
include ../../blocks/desktop/bullet-list/bullet-list.pug
include ../../blocks/desktop/advantage/advantage.pug
include ../../blocks/desktop/comment/comment.pug
include ../../blocks/desktop/card-selection/card-selection.pug
include ../../blocks/desktop/card-registration/card-registration.pug
include ../../blocks/desktop/card-booking/card-booking.pug
include ../../blocks/desktop/card-login/card-login.pug
include ../../blocks/desktop/calendar/calendar.pug

