include ../../blocks/desktop/base-input/base-input.pug
include ../../blocks/desktop/base-input/_type/_type_dropdown.pug
include ../../blocks/desktop/base-input/_type/_type_subscription.pug
include ../../blocks/desktop/checkbox/checkbox.pug