include ../../blocks/desktop/arrow/arrow.pug
include ../../blocks/desktop/input/input.pug
include ../../blocks/desktop/checkbox-list/checkbox-list.pug
include ../../blocks/desktop/checkbox-list/_type/_type_rich.pug
include ../../blocks/desktop/checkbox/checkbox.pug
include ../../blocks/desktop/checkbox/_type/_type_rich.pug
include ../../blocks/desktop/radio/radio.pug
include ../../blocks/desktop/toggle/toggle.pug
include ../../blocks/desktop/like/like.pug
include ../../blocks/desktop/rate/rate.pug
include ../../blocks/desktop/range/range.pug
include ../../blocks/desktop/button/button.pug
include ../../blocks/desktop/pagination/pagination.pug
include ../../blocks/desktop/dropdown/dropdown.pug
include ../../blocks/desktop/expandable-checkbox/expandable-checkbox.pug
include ../../blocks/desktop/bullet-list/bullet-list.pug
include ../../blocks/desktop/advantage/advantage.pug
include ../../blocks/desktop/comment/comment.pug
include ../../blocks/desktop/card-selection/card-selection.pug
include ../../blocks/desktop/card-registration/card-registration.pug
include ../../blocks/desktop/card-booking/card-booking.pug
include ../../blocks/desktop/card-login/card-login.pug
include ../../blocks/desktop/calendar/calendar.pug
include ../../blocks/desktop/card-room/card-room.pug
include ../../blocks/desktop/logo/logo.pug
include ../../blocks/desktop/header/header.pug
include ../../blocks/desktop/footer/footer.pug
include ../../blocks/desktop/tick/tick.pug
include ../../blocks/desktop/copyright/copyright.pug
include ../../blocks/desktop/copyright/_size/_size_tablet.pug
include ../../blocks/desktop/datepicker/datepicker.pug
include ../../blocks/desktop/statistics/statistics.pug


