.base-input
  .base-input__wrap
    span(class="base-input__left-label") Text field
    span(class="base-input__right-label") Default
  input(type="text" class="base-input__item" placeholder="Email")
  