mixin input(classes, leftLabel, rightLabel, placeholder)
  block content
  .base-input(class=classes)
    .base-input-wrap
      span(class="base-input__left-label")=leftLabel
      span(class="base-input__right-label")=rightLabel
    input(type='text' class="base-input__item" placeholder=placeholder)





