.expandable-checkbox{
  display: flex;
  flex-direction: column;
  max-width: 266px;
  width: 100% ;
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    color: $default-color;
    position: relative;
    user-select: none;
    cursor: pointer;
    & > .tick{
      right: 18px;
      top: 5px;
    }
  }
  &.show > &__checklist{
    display: block;
  }
  &.show > &__title .tick{
    transform: rotate(180deg);
    top: 10px;
    right: 18px;
  }
  &__checklist{
    display: none;
    background-color: white;
    z-index: 1;
    margin: 13px 0 0 0;
    .checkbox{
      margin: 0 0 3px 0;
    }
  }
}