mixin expandable-checkbox(options={})
  - const {title = 'default', items = ['default']} = options
  .expandable-checkbox
    h6.expandable-checkbox__title=title
      +tick
    .expandable-checkbox__checklist
      each item in items
        +checkbox(item)