
mixin rate(classes)
  div.rate(class=classes)
    div.rate__star
      img(src="assets/img/star_border.svg", alt="star")
    div.rate__star
      img(src="assets/img/star_border.svg", alt="star")
    div.rate__star
      img(src="assets/img/star_border.svg", alt="star")
    div.rate__star
      img(src="assets/img/star_border.svg", alt="star")
    div.rate__star
      img(src="assets/img/star_border.svg", alt="star")