mixin input_type_subscription(leftLabel, value, classes)
  .base-input.base-input_type_subscription(class=classes)
    .base-input-wrap
      span(class="base-input__left-label")=leftLabel
    input(class="base-input__item" placeholder=value)
    div.arrow
      div
    