mixin input_type_dropdown(leftLabel, value, classes)
  .base-input.base-input_type_dropdown(class=classes)
    .base-input-wrap
      span(class="base-input__left-label")=leftLabel
      span(class="base-input__right-label")=rightLabel
    div(class="base-input__item")=value
      div.arrow_type_dropdown
    