mixin input_type_subscription(classes, leftLabel, value)
  .base-input.base-input_type_subscription(class=classes)
    .base-input-wrap
      span(class="base-input__left-label")=leftLabel
    input(class="base-input__item" placeholder=value)
    div.arrow_type_right
      div
    