mixin input(options={})
  - const {leftLabel = 'Text Field', rightLabel = 'Default', placeholder = 'Text', classes = '', type = ''} = options
  .input(class=classes)
    if(leftLabel != '' || rightLabel != '')
      .input-wrap
        if (leftLabel != '')
          span.input__left-label=leftLabel
        if (rightLabel != '')
          span.input__right-label=rightLabel
    input.input__item(type='text' placeholder=placeholder)
    if (type == 'arrow')
      +arrow





