mixin pagination() 
  .pagination
    .pagination__numbers
      .pagination__item.active
        span 1
      .pagination__item
        span 2
      .pagination__item
        span 3
      .pagination__item
        span …
      .pagination__item
        span 15
      .pagination__arrow
        .arrow
    p.pagination__text 1 – 12 из 100+ вариантов аренды