.statistics{
  max-width: 311px;
  &__heading{
    color: $default-color;
    font-weight: bold;
    font-size: 19px;
    margin: 0 0 20px 0;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-family: $titleFont;
  }
  &__body{
    display: flex;
    justify-content: space-between;
  }
  &__pie{
    position: relative;
    width: 120px;
    height: 120px;
    &-number{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 24px;
      color: $primary-color;
      line-height: 30px;
      font-family: $titleFont;
    }
    &-text{
      font-size: 12px;
      line-height: 14.63px;
      font-family: $mainFont;
      text-transform: uppercase;
      margin: 0 0 5px 0;
    }
  }
  &__list{
    margin: 26px 0 0 0;
  }
  &__item{
    &::before{
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px 0 0;
      border-radius: 50%;
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }
  &__item-one::before{
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  &__item-two::before{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  &__item-three::before{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}