mixin datepicker_type_double(leftLabel, rightLabel)
  .datepicker.datepicker_type_double
    .datepicker__field.datepicker__from
      label.datepicker__label(for="datepicker__from")=leftLabel
        input(type="text" class="datepicker__input datepicker__from-input" name="datepicker__from" placeholder="ДД.MM.ГГГГ")
        +tick()
    .datepicker__field.datepicker__to 
      label.datepicker__label(for="datepicker__to")=rightLabel
        input(type="text" class=" datepicker__input datepicker__to-input" name="datepicker__to" value="19.08.2019")
        +tick()
