
.like{
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid $default-color25;
  border-radius: 10px;
  padding: 0 12px 0 5px;
  &__heart{
    position: absolute;
    left: 5px;
    top: -4px;
  }
  &__count{
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: $default-color25;
    position: absolute;
    right: 11px;
    top: 3px;
  }
}
