mixin like(options ={})
  - 
    const {
      count = 0,
      classes = []
    } = options
  .like(class=classes)
    .like__heart
      img(src="assets/img/svg/heart__border.svg")
    span.like__count=count