mixin bullet-list(options={})
  - 
    const {
      title = 'Title', 
      items = ['default'],
      classes = ['']
    } = options

  .bullet-list(class=classes)
    h6.bullet-list__title=title
    ul.bullet-list__ul
      each item in items
        li.bullet-list__item=item