mixin datepicker(label, value)
  .datepicker
    .datepicker__field
      label.datepicker__label=label
        input(type="text" class="datepicker__input" placeholder="ДД.MM.ГГГГ" value=value)
        +tick()
    