.datepicker{
	max-width: 266px;
  width: 100%;
  position: relative;
  &__field{
    width: 100%;
    & .tick{
      right: 18px;
      bottom: 4px;
    }
  }
  &__label{
    text-transform: uppercase;
    font-weight: bold;
    color: $default-color;
    font-size: 12px;
    position: relative;
  }
	&__input{
		width: 100%;
		padding: 12px 30px 12px 15px;
		border: 1px solid $default-color25;
    border-radius: 4px;
    height: 44px;
    @include mainFont;
    letter-spacing: -0.2px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
    &::-webkit-input-placeholder{
      font-family: $mainFont;
      color: $default-color25;
      font-size: 14px;
      line-height: 14px;
    }
	}
}
