html, body{
  @include mainFont;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

body.lock{
  overflow: hidden;
}

.main-content{
  flex: 1 0 auto;
  position: relative;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.row{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.column320{
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.column640{
  min-width: 640px;
  display: flex;
  flex-direction: column;
}