html, body{
  @include mainFont;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1 0 auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column320{
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.column640{
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
}