// Fonts
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontSize            : 14px;
$mainFontWeight          : normal;
$mainFontColor           : rgba(31, 32, 65, 0.75);
$mainLineHeight          : 24px;

$labelFont               : 'Montserrat', Helvetica, Arial, sans-serif;
$labelFontSize           : 12px;
$labelFontWeight         : bold;
$labelFontColor          : rgba(31, 32, 65, 1);
$labelLineHeight         : 15px;

$titleFont               : 'Quicksand', Helvetica, Arial, sans-serif;
$titleFontSize           : 24px;
$titleFontWeight         : bold;
$titleFontColor          : rgba(31, 32, 65, 1);
$titleLineHeight         : 30px;

$subTitleFont            : 'Quicksand', Helvetica, Arial, sans-serif;
$subTitleFontSize        : 19px;
$subTitleFontWeight      : bold;
$subTitleFontColor       : rgba(31, 32, 65, 1);
$subTitleLineHeight      : 24px;


// Size
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main colors
$default-color           : rgba(31, 32, 65, 1);
$primary-color           : rgba(188, 156, 255, 1); 
$success-color           : rgba(111, 207, 151, 1); 
