include ../assets/pug/blocks.pug

<!DOCTYPE html>
html(lang="zxx")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body.cards
    .main-content
      .container
        .flex
          .column380
            +card-selection()
            +card-registration()
          .column380
            +card-booking()
            +card-login()
          .column320 
            .datepicker-here
            +card-room({
              src: [
                "assets/img/rooms/room_888.jpg", 
                "assets/img/rooms/room_888.jpg", 
                "assets/img/rooms/room_888.jpg", 
                "assets/img/rooms/room_888.jpg"
              ], 
              roomNumber: '888', 
              luxe: true, 
              price: "9 990", 
              feedback: "145",
              rating: 5
            })
            +card-room({
              src: [
                "assets/img/rooms/room_840.jpg", 
                "assets/img/rooms/room_840.jpg", 
                "assets/img/rooms/room_840.jpg", 
                "assets/img/rooms/room_840.jpg"
              ], 
              roomNumber: '840', 
              price: "9 990", 
              feedback: "145",
              rating: 4
            })

    