include ../assets/pug/blocks.pug

<!DOCTYPE html>
html(lang="zxx")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body
    .container
      .column
        +card-selection()
        +card-registration()
      .column
        +card-booking()
        +card-login()
      .column  
        +calendar()
        +card-room("assets/img/imageroom_1.jpg", "", "", "", "888", " люкс", "9 990₽ ", "145 ")
        +card-room("assets/img/imageroom_2.jpg", "", "", "", "840", "", "9 990₽ ", "65 ")