include ../assets/pug/blocks.pug

<!DOCTYPE html>
html(lang="zxx")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    .container
      +input('text', 'Text Field', 'default', 'Email')
      +input('text', 'Text Field', 'Hover / Focus', 'Text')
      +inputDropdown('dropdown', 'dropdown', 'default', 'Сколько гостей')
      +input('text', 'masked text field', 'default', 'ДД.ММ.ГГГГ')
