include ../assets/pug/blocks.pug

<!DOCTYPE html>
html(lang="zxx")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.form_elements
    .container
      .block
        .inputs-wrap
          .main-inputs
            +input('Text Field', 'default', 'Email')
            +input('Text Field', 'Hover / Focus', 'Text')
            +dropdown('Dropdown', '', ['взрослые','дети', 'младенцы'], 'Сколько гостей', 'dropdown_size_big dropdown_content_guests')
            +input('masked text field', 'default', 'ДД.ММ.ГГГГ')
          .mini-inputs
            +input_type_dropdown('date dropdown', '', 'ДД.ММ.ГГГГ', 'input_size_mini')
            +input_type_dropdown('date dropdown', '', '19.08.2019', 'input_size_mini')
          +input_type_dropdown('filter date dropdown', '', '19 авг - 23 авг', 'ДД.ММ.ГГГГ', 'input_size_medium')
          +input_type_subscription('subscription text field', 'Email', 'input_size_medium')
        .switches-wrap
          .checkbox-buttons
            +checkbox-list('Checkbox Buttons', ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)'])
          .radio-buttons
            h6.title Radio Buttons
            +radio('Мужчина', 'gender')
            +radio('Женщина', 'gender')
          .toggle-buttons
            h6.title Toggle
            +toggle('Получать спецпредложения')
            +toggle('Получать спецпредложения')
          .like-buttons
            h6.title Like button
            +like('2')
            +like('12')
          .rate-buttons
            h6.title Rate button
            +rate
            +rate
        .buttons-wrap
          .range-slider
            +range('Range Slider')
          .buttons
            h6.title Buttons
            +button('Click me', '')
            +button('Click me', '')
            +button('Click me', 'button_type_transparent')
            +button('Click me', 'button_type_transparent')
            +button('Click me', 'button_type_light')
            +button('Click me', 'button_type_light')
            +button_with-arrow('Перейти к оплате', 'button_size_big button_with-arrow')
          .pagination-block
            h6.title Pagintion
            +pagination
      .block
        .medium-dropdown
          +dropdown('Dropdown', 'default', ['спальни','кровати', 'ванные комнаты'], '', 'dropdown_size_medium dropdown_content_amenities')
          +dropdown('Dropdown', 'expanded', ['спальни','кровати', 'ванные комнаты'], '', 'dropdown_size_medium dropdown_content_amenities')
        +dropdown('Dropdown', '', ['взрослые','дети', 'младенцы'], 'Сколько гостей', 'dropdown_size_big dropdown_content_guests')
        +dropdown('Dropdown', '', ['взрослые','дети', 'младенцы'], '', 'dropdown_size_big dropdown_content_guests')
      .block
        .expandable-checkboxes
          +expandable-checkbox('expandable checkbox list', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
          +expandable-checkbox('expandable checkbox list', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
        +checkbox-list_type_rich('rich Checkbox Buttons', {'Широкий коридор':'Ширина коридоров в номере не менее 91 см.',
        'Помощник для инвалидов':'На 1 этаже вас встретит специалист  и проводит до номера.'})
        +bullet-list('bullet list', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
      .block
        .advantage-list
          +advantage('Комфорт', 'Шумопоглощающие стены', '../assets/img/smiley.svg', 'smiley')
          +advantage('Удобство', 'Окно в каждой из спален', '../assets/img/city.svg', 'city')
        +comment('Мурад Сарафанов','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.','5 дней назад', 12, 'assets/img/feedback_1.jpg')

        