extends ../assets/pug/extends/page.pug

block vars
  -
    bodyClasses = ['landing']
    title = 'Landing'

block content
  main.main.landing__main
    .container.landing__container
      +card-selection()
      p.landing__inscription 
        |Лучшие номера для вашей работы,
        |отдыха и просто вдохновения