extends ../assets/pug/extends/page.pug
block vars 
  - 
    title = 'Registration',
    bodyClasses = 'registration'

block content
  main.registration__main
    .container.registration__container
      +card-registration()