extends ../assets/pug/extends/page.pug

block vars
  -
    bodyClasses = ['room-details']
    title = 'Room-details'

block content
  .preview
    .preview__item.preview__item_big
      img.preview__img(src="assets/img/room-details-img1.jpg", alt="")
    .preview__item.img2
      img.preview__img(src="assets/img/room-details-img2.jpg", alt="")
    .preview__item.img3
      img.preview__img(src="assets/img/room-details-img3.jpg", alt="")
  .container
    .flex 
      main.room-details__body
        .room-details__info
          .wrap
            h6.heading Сведения о номере
            +advantage({
              title: 'Комфорт',
              description: 'Шумопоглощающие стены',
              src: 'assets/img/smiley.svg',
              alt: 'smiley'
            })
            +advantage({
              title: 'Удобство',
              description: 'Окно в каждой из спален',
              src: 'assets/img/city.svg',
              alt: 'city'
            })
            +advantage({
              title: 'Уют',
              description: 'Номер оснащён камином',
              src: 'assets/img/whatshot.svg',
              alt: 'whatshot'
            })
          +statistics({
          title: 'Впечатления от номера',
          number: '260',
          items: [
            'Великолепно',
            'Хорошо',
            'Удовлетворительно',
            'Разочарован'
          ]
        })
        .reviews
          .reviews__header
            h6.heading Отзывы посетителей номера
            p.reviews__count 2 отзыва
        +comment({
          author: 'Мурад Сарафанов',
          text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          time: '5 дней назад', 
          likeCount: 12, 
          src: 'assets/img/feedback_1.jpg'
        })
        +comment({
          author: 'Патрисия Стёклышкова',
          text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
          time: 'Неделю назад', 
          likeCount: 2, 
          src: 'assets/img/feedback_2.jpg'
        })
        .room-details__rules
          +bullet-list({
            title: 'Правила', 
            items: [
              'Нельзя с питомцами', 
              'Без вечеринок и мероприятий', 
              'Время прибытия — после 13:00, а выезд до 12:00'
            ]
          })
          .insert
            h6.heading Отмена
            p.insert__text Бесплатная отмена в течение 48 ч. 
            | После этого при отмене не позднее чем за 5 дн. до прибытия 
            |вы получите полный возврат за вычетом сбора за услуги.
      +card-booking({})


      
