mixin card-booking()
  .card.card-booking
    .card-booking__top
      h6.heading.card-booking__heading № 
        span.heading.card-booking__heading-num 888 
        span.card-booking__heading-text люкс
      p.card-booking__room-price 9 990₽ 
        span.card-booking__room-price-text в сутки 
        
    .card-booking__date
      +input_type_dropdown("Прибытие", "19.08.2019", "base-input_size_mini")
      +input_type_dropdown("Выезд", "23.08.2019", "base-input_size_mini")
    +input_type_dropdown('Гости', '3 гостя', 'card-booking__guests')
    .card-booking__cart
      .card-booking__cart-item
        p.card-booking__cart-item-text 9 990₽ х 4 суток
        p.card-booking__cart-item-price 39 960₽
      .card-booking__cart-item
        p.card-booking__cart-item-text Сбор за услуги: скидка 2 179₽
          span.card-booking__cart-item-sticker
        p.card-booking__cart-item-price 0₽
      .card-booking__cart-item
        .card-booking__cart-item-text Сбор за дополнительные услуги
          p
          span.card-booking__cart-item-sticker
        p.card-booking__cart-item-price 300₽
    .card-booking__total-cost 
      p.card-booking__total-cost-text Итого
      p.card-booking__total-cost-number 38 081₽
    +button_with-arrow('Забронировать', 'button_size_big card-booking__button')