mixin card-booking()
  .card.card-booking
    .card-booking__top
      h6.heading.card-booking__heading № 
        span.heading.card-booking__heading-num 888 
        span.card-booking__heading-text люкс
      p.card-booking__room-price 9 990₽ 
        span.card-booking__room-price-text в сутки 
    +datepicker({leftLabel: "Прибытие", rightLabel: 'Выезд', classes: "input_size_mini card-booking__date", type: 'double'})
    +dropdown({leftLabel: 'Гости', items: ['взрослые','дети', 'младенцы'], placeholder: 'Сколько гостей', classes: 'dropdown_size_big dropdown_content_guests card-booking__guests'})
    .card-booking__cart
      .card-booking__cart-item
        p.card-booking__cart-item-text 9 990₽ х 4 суток
        p.card-booking__cart-item-price 39 960₽
      .card-booking__cart-item
        p.card-booking__cart-item-text Сбор за услуги: скидка 2 179₽
          span.card-booking__cart-item-sticker
        p.card-booking__cart-item-price 0₽
      .card-booking__cart-item
        p.card-booking__cart-item-text Сбор за дополнительные услуги
          span.card-booking__cart-item-sticker
        p.card-booking__cart-item-price 300₽
    .card-booking__total-cost 
      p.card-booking__total-cost-text Итого
      .card-booking__dots
      p.card-booking__total-cost-number 38 081₽
    +button({text: 'Забронировать', classes: 'button_size_big card-booking__button'})