.card-booking{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
  }
  &__heading{
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1px;
    &-num{
      font-size: 24px;
      line-height: 30px;
    }
    &-text{
      @include labelFont;
      color: $primary-color;
      text-transform: uppercase;
      line-height: 14.63px;
      letter-spacing: 1.2px;
    }
  }
  &__room-price{
    font-weight: bold;
    color: $default-color50;
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0 0 0;
    &-text{
      font-size: 12px;
      font-weight: normal;
    }
  }
  &__date{
    margin: 0 0 22px 0;
  }
  &__guests{
    margin: 0 0 20px 0;
  }
  &__cart{
    margin: 0 0 29px 0;
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 15px 0;
      &:last-child{
        margin: 0;
      }
      &-text{
        position: relative;
        max-width: 240px;
        width: 100%;
        display: flex;
        line-height: 18px;
        justify-content: space-between;
      }
      &-sticker{
        display: inline-block;
        min-width: 20px;
        height: 20px;
        border: 1px solid $default-color25;
        border-radius: 100%;
        position: relative;
        margin: 0 0 0 5px;
        &::before{
          content: '';
          display: block;
          width: 2px;
          height: 6px;
          background-color: $default-color25;
          position: absolute;
          left: 8px;
          bottom: 4px;
        }
        &::after{
          content: '';
          display: block;
          width: 2px;
          height: 2px;
          border-radius: 100%;
          background-color: $default-color25;
          position: absolute;
          left: 8px;
          top: 4px;
        }
      }
      &-price{
        line-height: 19px;
      }
    }
  }
  &__total-cost{
    display: flex;
    justify-content: space-between;
    @include titleFont;
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 20px 0;
    
    &-text {
      letter-spacing: 1.3px;
      width: max-content;
      padding: 0 5px 0 0;
    }
    &-number{
      width: max-content;
      white-space: nowrap;
      padding: 0 0 0 5px;
    }
  }
  &__dots{
    width: 100%;
    border-bottom: 1px dotted $default-color25;
    margin: 0 0 6px 0;
  }
}