mixin card-room(options={})
  - const {src = [], roomNumber = '999', luxe = false, price = '9 990', feedback = '100', stars = 0} = options
  .card-room 
    .card-room__slider
      each slide in src 
        .card-room__slide-one.card-room__slide
          img(src=slide, alt="room")
    .card-room__info
      .card-room__info-top
        p.card-room__heading № 
          span.card-room__heading-num=roomNumber
            if luxe
              span.card-room__heading-text люкс
        p.card-room__price=price + '₽ '
          span.card-room__price-text в сутки 
      .card-room__info-bottom
        +rate("card-room__rate")
        p.card-room__feedback=feedback + ' '
          span Отзывов
      