.card-room{
  max-width: 270px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $default-color5;
  border-radius: 4px;
  overflow: hidden;
  &__slider{
    position: relative;
    &:hover .slick-arrow,
    &:hover .slick-dots{
      opacity: 1;
      transition: all ease .4s;
    }
  }
  &__slide > img{
    width: 100%;
  }
  &__info{
    padding: 20px 16px 19px 20px;
    &-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 10px 0;
      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    }
    &-bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0 0 0;
    }
  }
  &__heading{
    font-family: $titleFont;
    font-size: 14px;
    font-weight: bold;
    line-height: 17.5px;
    color: $default-color;
    &-num{
      font-size: 19px;
      line-height: 24px;
    }
    &-text{
      color: $primary-color;
      font-size: 15.5px;
      line-height: 14.63px;
      font-weight: bold;
      margin: 0 0 0 5px;
    }
  }
  &__price{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $default-color50;
    &-text{
      font-size: 12px;
      font-weight: normal;
    }
  }
  &__feedback{
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: $default-color50;
    & > span{
      font-weight: normal;
    }
  }

  .slick-arrow{
    display:  flex;
    align-items: center;
    justify-content: center;
    background: none;
    position: absolute;
    height: 100%;
    width: 42px;
    padding: 0;
    z-index: 2;
    opacity: 0;
    transition: all ease .4s;
    cursor: pointer;
    &::before{
      content: '';
      width: 8px;
      height: 8px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
    top: 0;
    &::before{
      transform: rotate(135deg);
    }
  }

  .slick-dots{
    display: flex;
    position: absolute;
    right: 11px;
    bottom: 15px;
    z-index: 1;
    & li{
      margin: 0 3.75px 0 0;
      width: 7.5px;
      height: 7.5px;
      display: flex;
      border-radius: 100%;
      & button{
        border: 1px solid white;
        background: none;
        border-radius: 100%;
        padding: 0;
        font-size: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .slick-active{
    background: white;
  }
}

@media (max-width: 550px){
  
}