.form_elements{
  padding: 144px 0;
  background-color: #fff;
  .row-one{
    margin: 0 0 101px 0;
    .column-one{
      .inputs{
        & .input:nth-child(1){
          margin: 0 0 21px 0;
        }
        & .input:nth-child(2){
          margin: 0 0 22px 0;
        }
        & .dropdown{
          margin: 0 0 18px 0;
        }
      }
      
      .datepicker-input{
        margin: 0 0 36px 0;
      }

      .datepicker-input:nth-child(3){
        margin: 0 0 42px 0;
      }
    }
    .column-two{
      margin: 0 0 0 54px;
      .checkbox-list{
        margin: 0 0 38px 0;
      }
      .radio-buttons{
        margin: 0 0 30px 0;
        .title{
          margin: 0 0 9px 0;
        }
        .radio{
          display: inline-block;
          &:nth-child(2){
            margin: 0 20px 0 0;
          }
        }
      }
      .toggle-buttons{
        margin: 0 0 29px 0;
        .title{
          letter-spacing: -0.4px;
          margin: 0 0 8px 0;
        }
        .toggle{
          margin: 0 0 10px 0;
        }
      }
      .like-buttons{
        margin: 0 0 29px 0;
        .title{
          margin: 0 0 11px 0;
        }
        .like{
          display: inline-block;
          &:nth-child(2){
            margin: 0 10px 0 0;
          }
        }
      }
      .rate-buttons{
        .title{
          margin: 0 0 10px 0;
        }
        &-wrap{
          display: flex;
          justify-content: space-between;
          max-width: 260px;
          width: 100%;
        }
      }
    }
    .column-three{
      margin: 0 1px 0 0;
      .range{
        margin: 0 0 26px 0;
      }
      .buttons{
        margin: 0 0 36px 0;
        .title{
          margin: 0 0 10px 0;
        }
        &-wrap{
          max-width: 218px;
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        &-row{
          display: flex;
          justify-content: space-between;
          margin: 0 0 30px 0;
          &:nth-child(2){
            margin: 0 0 32px 0;
          }
          &:last-child{
            width: 142px;
          }
        }
      }
      .pagination-block{
        .title{
          margin: 0 0 11px 0;
        }
      }
    }
  }
  .row-two{
    min-height: 601px;
    height: 100%;
    margin: 0 0 85px 0;
    .column-one{
      .dropdown:first-child{
        margin: 0 0 21px 0;
      }
      .dropdown:nth-child(2){
        margin: 0 0 174px 0;
      }
      .expandable-checkbox:nth-child(3){
        margin: 0 0 50px 0;
      }
      .expandable-checkbox:nth-child(4){
        margin: 0;
      }
    }
    .column-two{
      margin: 0 0 0 55px;
      .dropdown:nth-child(1){
        margin: 0 0 257px 0;
      }
    }
    .column-three{
      margin: 0 2px 0 0;
      .dropdown:nth-child(1){
        margin: 0 0 257px 0;
      }
    }
  }
  .row-three{
    min-height: 160px;
    height: 100%;
    .comment{
      margin: 10px 4px 0 0;
    }
  }
}

