.block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  &:nth-child(3){
    padding: 0 0 100px 0;
  }
}


.inputs-wrap{
  max-width: 320px;
  width: 100%;
  .main-inputs{
      .base-input:nth-child(-n+3){
          margin: 0 0 22px 0;
      }
  }
  .base-input:nth-child(n+3){
      margin: 0 0 40px 0;
  }
  .mini-inputs{
      display: flex;
      justify-content: space-between;
      margin: 0 0 40px 0;
  }
}

.checkbox-buttons{
  margin: 0 0 40px 0;
  .checkbox:nth-child(n){
      margin: 0 0 3px 0;
  }
}

.radio-buttons {
  margin: 0 0 34px 0;
  .title{
      margin: 0 0 13px 0;
  }
  label{
      display: inline-block;
      &:nth-child(3){
          margin: 0 0 0 21px;
      }
  }
}

.toggle-buttons{
  margin: 0 0 43px 0;
  .title{
      letter-spacing: -0.3px;
      margin: 0 0 13px 0;
  }
  .toggle:nth-child(n){
    margin: 0 0 10px 0;
  }
  .toggle:nth-last-child(){
    margin: 0;
  }
}

.like-buttons{
  margin: 0 0 32px 0;
  .like{
    display: inline-block;
    &:nth-child(2){
      margin: 0 10px 0 0;
    }
  }
}

.rate-buttons{
  .rate{
    display: inline-flex;
  }
  .rate:nth-child(2){
    margin: 0 20px 0 0;
  }
}

.range-slider{
  margin: 0 0 43px 0;
}

.buttons{
  .title{
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  .button:nth-child(n+1){
    margin: 0 0 30px;
  }
}

.dropdown-wrap{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.medium-dropdown{
  width: 100%;
  max-width: 267px;
}