.landing{
  .main{
    max-height: 830px;
    height: 100%;
    background-image: url(../img/landing_bg.jpg);
    background-repeat: no-repeat;
    background-position-y: -71px;
    background-size: cover;
  }
  .card-selection{
    margin: 68px 0 0 0;
  }
}
