.landing{
  .main{
    max-height: 830px;
    height: 100vh;
    background-image: url(../img/jpg/landing_bg.jpg);
    background-repeat: no-repeat;
    background-position: center -71px;
    padding: 69px 0 0 0;
    position: relative;
  }
}
