.registration{
  &__main{
    height: 100%;
    background-image: url(../img/jpg/background_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  &__container{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 18px 0;
  }
  &__card-registration{
    margin: 0 0 0 5px;
  }
}