.room-details{
  &__heading{
    @include subTitleFont;
    letter-spacing: 0.6px;
  }
  &__preview{
    display: grid;
    grid-template-columns: 68.939% 1fr;
    grid-template-rows: repeat(2, 50%);
    background-color: wheat;
    max-height: 485px;
    height: 100%;
    margin: 0 0 70px 0;
    &-img{
      width: 100%;
      height: 100%;
    }
    &-item_big{
      grid-area: 1/1/3/1;
    }
  }
  &__main{
    padding: 0 0 63px 0;
  }
  &__content{
    max-width: 711px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 13px;
  }
  &__advantages-heading{
    margin: 0;
  }
  &__advantage:last-child{
    padding: 20px 0 0 0;
    border-bottom: unset;
  }
  &__reviews{
    grid-column: 1 / span 2;
    &-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 20px 0;
    }
    &-heading{
      margin: 0;
      letter-spacing: 0.7px;
    }
  }
  &__comment{
    &:nth-child(n){
      margin: 0 0 23px 0;
    }
    &:last-child{
      margin: 0;
    }
  }
  &__bullet-list{
    .bullet-list__title{
      padding: 0 0 0 20px;
      margin: 0 0 16px 0;
      @include subTitleFont;
      text-transform: unset;
      letter-spacing: 1px;
    }
  }
  &__insert{
    max-width: 340px;
    &-heading{
      margin: 0 0 15px 0;
      letter-spacing: 1px;
    }
  }
}
  
 
