.footer{
  background-color: white;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  margin: 0 0 1px 0;
  border-top: 1px solid $default-color5;
  &__body{
    padding: 99px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 260px 1fr 260px;
    gap: 20px 40px;
  }
  &__logo{
    margin: 0 0 17px 0;
  }
  &__info{
    max-width: 260px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__nav{
    max-width: min-content;
    white-space: nowrap;
    width: 100%;
  }
  &__about{
    max-width: min-content;
    white-space: nowrap;
    width: 100%;
    margin: 0 35px 0 0;
  }
  &__support{
    max-width: min-content;
    white-space: nowrap;
    width: 100%;
    margin: 0 12px 0 0;
  }
  &__title{
    color: $default-color;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    text-transform: uppercase;
    margin: 5px 0 19px 0;

  }
  &__list-item{
    margin: 0 0 13px 0;
    &:last-child{
      margin: 0;
    }
  }
  &__list-link{
    color: $default-color50;
    line-height: 17px;
  }
  &__subscribe{
    max-width: 260px;
    .footer__text{
      margin: 0 0 17px 0;
    }
  }
}

@media (max-width: 1160px){
  .footer{
    &__body{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

    }
    &__inner{
      grid-area: 2/1/2/3;
      order: 1;
      justify-content: space-between
      
    }
    &__info{
      max-width: 100%;
    }
    &__subscribe{
      max-width: 100%;
      justify-self: right;
    }
    &__about{
      margin: 0;
    }
  }
}
@media (max-width:550px){
  .footer{
    &__body{
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      gap: 40px 0;
      padding: 50px 20px;
    }
    &__logo{
      justify-content: center;
    }
    &__info{
      text-align: center;
      justify-self: center;
    }
    &__inner{
      flex-direction: column;
      align-items: center;
      grid-area: unset;
      order: 1;
      justify-self: center;
    }

    &__list{
      margin: 0 0 30px 0;
      text-align: center;
    }

    &__subscribe{
      justify-self: center;
      text-align: center;
      .input{
        margin:  0 auto;
        width: 100%;
      }
    }
  }
}