mixin range(options={})
  -const {title = 'default', description = ''} = options
  .range
    .range__top
      h6.range__title=title
      p.range__count 5 000₽ - 10 000₽
    .range__item
      .range__bar
      span(class="range__slide range__slide_left")
      span(class="range__slide range__slide_right")
    if (description)
      p.range__description=description