mixin advantage(title, description, src, alt)
  .advantage
    .advantage__img
      img(src=src, alt=alt)
    .advantage__text
      h6.advantage__title=title
      p.advantage__description=description