.advantage{
  display: flex;
  min-width: 280px;
  height: min-content;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding: 20px 0 20px 0;
  &:first-child{
    padding: 0 0 20px 0;
  }
  &__text{
    padding: 0 0 0 10px;
  }
  &__title{
    font-weight: bold;
  }
  &__img{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}