mixin checkbox_type_rich(item,description)
  .checkbox.checkbox_type_rich
    label.checkbox__label
      input.checkbox__input(type="checkbox")
      p.checkbox__text=item
      p.checkbox__description=description