.checkbox_type_rich{
  .checkbox__item{
    color: $default-color75;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 5px 0;
  }
  .checkbox__description{
    font-size: 12px;
    line-height: 14.63px;
    color: $default-color50;
    width: 98%;
    white-space: normal;
  }
  .checkbox__inner{
    display: flex;
    flex-direction: column;
  }
}