.checkbox_type_rich{
  .checkbox__text{
    font-weight: bold;
    color: $default-color75;
    white-space: nowrap;
    min-width: 100%;
    line-height: 18px;
  }
  .checkbox__description{
    font-size: 12px;
    line-height: 14.63px;
    color: $default-color50;
    padding: 0 0 0 30px;
    width: 98%;
    white-space: normal;
  }
}