mixin input_type_dropdown(leftLabel, value, classes)
  .input.input_type_dropdown(class=classes)
    .input-wrap
      span(class="input__left-label")=leftLabel
      span(class="input__right-label")=rightLabel
    div(class="input__item")=value
      div.tick
    