.card-login{
  &__heading{
    line-height: 29px;
  }
  &__email{
    margin: 0 0 5px 0;
  }
  &__password{
    margin: 0 0 20px 0;
  }
  &__button-login{
    margin:  0 0 30px 0;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}