mixin card-login()
  .card.card-login
    h2.heading.card-login__heading Войти
    +input({
      leftLabel: '', 
      rightLabel: '', 
      placeholder: 'Email', 
      classes: 'card-login__email', 
    })
    +input({
      leftLabel: '', 
      rightLabel: '', 
      placeholder: 'Пароль', 
      classes: 'card-login__password'
    })
    +button({
      text: 'Войти',
      classes: 'button_size_big card-login__button-login', 
      arrow: true
    })
    .card-login__bottom
      a.card-login__link Нет аккаунта на Toxin?
      +button({
        text: 'Создать', 
        classes: 'button_type_transparent card-login__button-create'
      })
