.checkbox{
  max-width: 266px;
  width: 100%;
  user-select: none;
  &__box{
    min-width: 20px;
    height: 20px;
    border: 1px solid $default-color25;
    border-radius: 4px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input:checked + &__box > &__mark{
    opacity: 1;
    transition: all ease .3s;
  }
  &__input:checked + &__box{
    border: 1px solid $primary-color;
  }
  &__mark{
    opacity: 0;
    transition: all ease .3s;
  }
  &__label{
    position: relative;
    display: flex;
  }
  &__input{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 19px;
    max-width: 215px;
    color: $default-color50;
  }
}