mixin copyright(options={})
  - 
    const {
      classes = []
    } = options
  .copyright(class=classes)
    .container.copyright__body
      +logo({classes: ['copyright__logo']})
      p.copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
      .copyright__social
        .copyright__twitter
          a
            img(src="assets/img/svg/twitter.svg", alt="twitter")
        .copyright__facebook
          a
            img(src="assets/img/svg/facebook.svg", alt="facebook")
        .copyright__inst
          a
            img(src="assets/img/svg/inst.svg", alt="instagram")