.comment{
  max-width: 710px;
  display: flex;
  &__img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 0 12px 0;
    & img{
      width: 48px;
      height: 48px;
    }
  }
  &__left,
  &__right{
    display: flex;
    flex-direction: column;
  }
  &__left{
    align-items: center;
    margin: 0 10px 0 0;
  }
  &__author{
    font-weight: bold;
  }
  &__time{
    margin: 0 0 11px 0;
  }
}