mixin header(options={})
  - const {entered = false} = options
  header.header
    .container.header__body
      +logo({classes: ['header__logo']})
      .header__burger 
        div
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item.header__nav-active-link
            a.header__nav-link О нас
          li.header__nav-item
            a.header__nav-link Услуги
            +tick
          li.header__nav-item
            a.header__nav-link Вакансии
          li.header__nav-item
            a.header__nav-link Новости
          li.header__nav-item
            a.header__nav-link Соглашения
            +tick
      if (entered)
        a.header__account Юлий Цезарь
      else
        +button({
          text: 'Войти', 
          classes: [
            "button_type_transparent", 
            "header__button",  
            "header__button-login"
          ]
        })
        +button({
          text: 'Зарегистрироваться', 
          classes: [
            "button_size_big",
            "header__button", 
            "header__button-reg"
          ]
        })