.calendar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 20px;
  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 30px 0;
  }
  &__arrow-back{
    transform: rotate(-135deg);
    left: 6px;
    top: 6px;
  }
  &__arrow-next{
    right: 6px;
    top: 6px;
  }
  &__heading{
    @include titleFont;
    font-size: 19px;
    line-height: 24px;
  }
  &__table{
    margin: 0 0 20px 0;
    & th{
      @include labelFont;
      color: $primary-color;
      text-align: center;
      cursor: default;
      height: 40px;
      width: 40px;
      // display: flex;
      vertical-align: middle;
    }
    & td{
      text-align: center;
      font-size: 12px;
      color: $default-color50;
      height: 40px;
      width: 40px;
      padding: 0;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  &__other-month{
    color: $default-color25;
  }
  &__interval{
    position: relative;
    z-index: 0;
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, $primary-color 0%, #8BA4F9 100%);
      opacity: 0.25;
      z-index: -1;
      top: 0;
      left: 0;
    }
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 15px;
  }
}

#calendar__today{
  border-radius: 50%;
  background: linear-gradient(180deg, $success-color  0%, rgb(102, 210, 234) 100%);
  color: white;
  font-weight: bold;
}
#calendar__date-from{
  border-radius: 50%;
  background: linear-gradient(180deg,$primary-color 0%, #8BA4F9 100%);
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 0;
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg,$primary-color 0%, #8BA4F9 100%);
    opacity: 0.25;
    z-index: -1;
    top: 0;
    left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}
#calendar__date-to{
  border-radius: 50%;
  background: linear-gradient(180deg,$primary-color 0%, #8BA4F9 100%);
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 0;
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg,$primary-color 0%, #8BA4F9 100%);
    opacity: 0.25;
    z-index: -1;
    top: 0;
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}