.checkbox-list{
  max-width: 266px;
  width: 100%;
  &__title{
    font-size: 12px;
    line-height: 14.63px;
    font-weight: bold;
    color: $default-color;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }
  .checkbox{
    margin: 0 0 10px 0;
    &:last-child{
      margin: 0;
    }
  }
}