mixin checkbox-list(options={})
  - const {title = 'default', items = ['default'], type = 'default', obj = {'value': 'description'}} = options
  case type
    when 'rich' 
      .checkbox-list.checkbox-list_type_rich 
        p.checkbox-list__title=title
        each description,value in obj
          +checkbox({item: value, description: description, type: 'rich'})
    default
      .checkbox-list
        h6.checkbox-list__title=title
        each value in items
          +checkbox({item: value})

      
        